<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
            <img src="/icons/pokeball.png" style="width: 50px;"/>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/trainers">
            <img src="/icons/player.png" style="width: 50px;"/>
            Trainers
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/pokemons">
            <img src="/icons/pikachu.png" style="width: 50px;"/>
            Pokemons
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/pokeboutique">
            <img src="/icons/pokecoins-1.png" style="width: 50px;"/>
            PokeBoutique
        </a>
    </div>
</nav>