<!doctype html>
<html lang="en">
{{> layout/header}}
<body>

{{> layout/navbar}}

<div class="container">
    <h2 class="pt-md-5 pb-md-5">    Trainer : <span id="trainerName">{{name}}</span> </h2>


    <h4>Fights</h4>

    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Trainer 1</th>
            <th scope="col">Trainer 2</th>
            <th scope="col">Winner</th>
            <th scope="col">Details</th>
        </thead>

        <tbody>
            {{#fights}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td class="trainerName1">{{trainerName1}}</td>
                    <td class="trainerName2">{{trainerName2}}</td>
                    <td class="winner">{{winner}}</td>
                    <td><a href="fights/{{id}}">Show details</a></td>
                </tr>
            {{/fights}}
        </tbody>

    </table>

</div>
</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script>
    window.onload = function() {

        var trainerName = document.getElementById("trainerName").innerText;
        var winner = document.getElementsByClassName("winner");

        for(var i = 0; i < winner.length; i++)
        {
            if(winner[i].innerText.trim() === trainerName)
            {
                winner[i].innerHTML = winner[i].innerHTML + " <span class=\"badge badge-success\">Won !</span>"
            }
            else
            {
                winner[i].innerHTML = winner[i].innerHTML + " <span class=\"badge badge-danger\">Lost !</span>"
            }
        }

        // var trainerName1 = document.getElementsByClassName("trainerName1");
        // var trainerName2 = document.getElementsByClassName("trainerName2");
        //
        // for(var i = 0; i < trainerName1.length; i++)
        // {
        //     if(trainerName1[i].innerHTML.trim() == trainerName)
        //     {
        //         trainerName1[i].remove();
        //     }
        //     else
        //     {
        //         trainerName2[i].remove();
        //     }
        // }
    }
</script>

</html>